body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: rgb(119, 46, 115);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 80vh;
  background-color:rgb(96, 231, 231);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1{
  color:white;
  background: transparent;
  background-color: blueviolet;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid blueviolet;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: blueviolet;
  color: aliceblue;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}